<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.template.design" >
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".IPC.Messenger.MessengerService" android:process=":remote"/>
        <service android:name=".IPC.aidl.AIDLService" android:process=":remote"/>
        <provider
            android:authorities="com.template.design.IPC.ContentProvider.GameProvider"
            android:name=".IPC.ContentProvider.GameProvider"
            android:process=":provider"
            >
        </provider>
        <service android:name=".IPC.Socket.SocketServerService"  android:process=":remote"/>
    </application>

</manifest>